	*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Oswald', sans-serif;
}

html,body{
	height: 100%;
}

/* divs gerais */

.clear{
	clear: both;
}

.container{
	width: 100%;
	max-width: 1400px;
	margin: 0 auto;
	padding: 0 2%;
}

/* titulo padrao */

.line-titulo{
	position: relative;
	text-align: center;
}

.line-titulo .line{
	position: absolute;
	top: 22px;
	left: 0;
	width: 100%;
	height: 4px;
	background-color: #0e439e;
}

.line-titulo h2{
	font-style: italic;
	font-size: 30px;
	text-transform: uppercase;
	color: black;
	position: relative;
	background-color: white;
	padding: 0 20px;
	display: inline-block;
}

/* PAGINA INDEX */

/* header */

header{
	background-color: #0e439e;
	padding: 10px 0;
}

header .header-logo{
	float: left;
	width: 180px;
	height: 70px;
	background-image: url('../imagens/logo.png');
	background-size: 100% 100%;
	background-position: center;
}

/* menu-desktop */

nav.menu-desktop ul{
	text-transform: uppercase;
	float: right;
	padding-top: 20px;
}

nav.menu-desktop ul li{
	float: left;
	list-style-type: none;
	font-size: 22px;
	padding: 0 25px;
}

nav.menu-desktop a{
	text-decoration: none;
	color: white;
	font-style: italic;
}

/* menu-mobile */

nav.menu-mobile{
	margin-top: -45px;
	display: none;
	float: right;
	width: 32px;
	height: 32px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url('../imagens/icon_menu.png');
	cursor: pointer;
}
nav.menu-mobile ul{
	display: none;
	border-bottom: 4px solid black;
	z-index: 999;
	padding: 20px 0;
	width: 100%;
	position: absolute;
	top: 90px;
	left: 0px;
	background-color: #0e439e;
}

nav.menu-mobile ul li{
	padding: 10px 0;
	font-style: normal;
	list-style-type: none;
	width: 100%;
	text-align: center;
	text-transform: none;
	font-size: 26px;
}

nav.menu-mobile a{
	color: white;
	text-decoration: none;
}


/* section banner-oficina */
section.section-banner .banner-dark{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.7);
}
section.section-banner{
	position: relative;
	width: 100%;
	height: 750px;
	background-image: url('../imagens/mockup.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

section.section-banner .container{
	padding: 0 2%;
}

section.section-banner .banner-texto{
	text-transform: uppercase;
	padding-top: 180px;
	padding-left: 150px;
}

section.section-banner .banner-texto p{
	font-size: 50px;
	color: #fff;
	font-style: italic;
}
section.section-banner .texto-destaque{
	font-size: 52px;
	font-weight: bold;
	color: #1A37D0;
}
section.section-banner .btn-banner{
	width: 250px;
	/*
	border-top: 1px solid #1B1A59;
	border-left: 1px solid #1B1A59;
	border-right: 1px solid #1B1A59;
	border-bottom: 2px solid #1A37D0;
	*/
	border:1px solid #1A37D0;
	text-align: center;
	display: inline-block;
	margin-top: 30px;
	padding: 10px 0;
	/*background-color: #0A093B;*/
	background-color: rgba(0,0,0,0.5);
	cursor: pointer;
	border-radius: 3px;
}

section.section-banner .btn-banner:hover{

	background-color: rgba(0,0,0,1);
}


section.section-banner .btn-banner:nth-of-type(1){
	margin-right: 30px;
}

section.section-banner .btn-banner a{
	text-decoration: none;
	font-size: 30px;
	color: #fff;
	font-style: italic;
}
  
.delay-1{
	animation-delay: 0.8s;
}

.delay-2{
	animation-delay: 1.2s;
}

.delay-3{
	animation-delay: 1.6s;
}

.delay-4{
	animation-delay: 2s;
}

/* section servicos-depoimentos */

section.servicos-depoimentos{
	display: flex;
}

section.servicos-depoimentos .half1{
	width: 50%;
	background-color: #242424;
	text-align: center;
}

section.servicos-depoimentos .half1-wraper{
	display: inline-block;
	padding-right: 80px;
	padding-top: 60px;
	padding-bottom: 60px;
	padding-left: 2%;
}

section.servicos-depoimentos .half1-wraper h2{
	font-size: 38px;
	font-style: italic;
	color: #fff;
	font-weight: normal;
	text-align: left;
	padding:0 0 10px 2px;
}

section.servicos-depoimentos .half1-wraper ul{
	display: inline-block;
	padding-left: 20px;
	text-align: left;
	font-size: 22px;	
	font-style: italic;
	color: #fff;
}

section.servicos-depoimentos .half1-wraper ul li{
	margin-top: 5px;
}

section.servicos-depoimentos .half1-wraper a{
	display: inline-block;
	vertical-align: bottom;
	width: 220px;
	height: 60px;
	background-color: #1A37D0;
	text-align: center;
	line-height: 60px;
	color: #fff;
	font-size: 22px;
	font-style: italic;
	margin-left: 50px;
	text-decoration: none;
	border-bottom: 4px solid #005dff;
}

section.servicos-depoimentos .half2{
	width: 50%;
	background-color: #0e439e;
	padding-top: 60px;
	padding-bottom: 60px;
	padding-left: 80px;
	padding-right: 2%;
	position: relative;
}

section.servicos-depoimentos .half2 h2{
	font-weight: normal;
	font-size: 38px;
	font-style: italic;
	color: #fff;
	margin-bottom: 10px;
}
section.servicos-depoimentos .half2 .quote p:nth-child(1){
	font-size: 22px;
	font-style: italic;
	color: #fff;
	padding:0 40px;
}

section.servicos-depoimentos .quote .nome-depoimento{
	width: 100%;
	position: absolute;
	padding: 0 40px;
	bottom: 60px;
	left: 0;
}

section.servicos-depoimentos .author{
	float: right;
	color: #fff;
	font-size: 22px;
	font-style: italic;	
}
section.servicos-depoimentos .arrow-depoimento{
	float: left;
}

section.servicos-depoimentos .arrow-depoimento img{
	width: 22px;
	height: 22px;
	cursor: pointer;
}

section.servicos-depoimentos .arrow-depoimento img:nth-of-type(1){
	margin-right: 20px;
}

/* section-contato */

section.section-contato{
	padding: 80px 0;
}

section.section-contato form{
	max-width: 800px;
	margin: 0px auto;
	padding: 40px 0;	
}

section.section-contato .input-wraper{
	float: left;
	padding: 5px 20px;
}

section.section-contato input[type="text"]{
	width: 100%;
	height: 60px;
	padding: 15px;
	color: #242424;
	font-style: italic;
	font-size: 20px;
	
}

section.section-contato input[type="text"]:focus{
	outline: 0;
	-webkit-outline:0;
	-o-outline:0;
	-moz-outline:0;
}

section.section-contato textarea:focus{
	outline: 0;
	-webkit-outline:0;
	-o-outline:0;
	-moz-outline:0;
	appearance:none;
	-webkit-appearance:none;
	-moz-appearance:none;
	border-radius: 0;
}


section.section-contato textarea{
	width: 100%;
	resize: none;
	padding: 10px;
	height: 180px;
	color: #242424;
	font-style: italic;
	font-size: 20px;
}

section.section-contato input[type="submit"]{
	display: block;
	border: none;
	width: 220px;
	height: 60px;
	background-color: #1A37D0;
	text-align: center;
	line-height: 60px;
	color: #fff;
	font-size: 22px;
	font-style: italic;
	margin: 0 auto;
	cursor: pointer;
	appearance:none;
	-webkit-appearance:none;
	-moz-appearance:none;
	border-radius: 0;
}


.w100{
	width: 100%;
}

.w50{
	width: 50%;
}

/* section-informacoes */

section.section-informacoes{
	background-color: #29374f;
	color: #fff;
	font-style: italic;
}

section.section-informacoes .informacoes-parent{
	padding: 40px 0 40px 100px;
}

section.section-informacoes .informacoes-single{
	float: left;
	width: 33.3%;
}

section.section-informacoes .informacoes-single:nth-of-type(3){
	padding: 0 40px;
}

section.section-informacoes .informacoes-single h2{
	font-size: 32px;
	font-weight: normal;
}

section.section-informacoes .informacoes-single p{
	font-size: 24px;
}

/* footer */

footer{
	padding: 40px 0;
	color: #fff;
	background-color: #242424;
	font-style: italic;
}

footer p{
	font-size: 22px;
	text-align: center;
}

/* section-lista-servicos */

section.section-lista-servicos{
	background-color: #fff;
	font-style: italic;
	font-size: 24px;
}

section.section-lista-servicos .container{
	padding: 80px 2%;
}

section.section-lista-servicos .lista-servicos-row-parent{
	padding:40px 0;
}

section.section-lista-servicos .lista-servicos-row{
	width: 100%;
	display: flex;
}

section.section-lista-servicos .lista-servicos{
	text-align: center;
	width: 50%;
	border-bottom: 2px solid black;
	padding: 20px;
}

section.section-lista-servicos .bg-1{
	background-color: #29374f;
}

section.section-lista-servicos .bg-2{
	background-color: #242424;
}

section.section-lista-servicos .lista-servicos ul{
	display: inline-block;
}

section.section-lista-servicos .lista-servicos ul li{
	color: #fff;
	text-align:left;
}

.mensagem-servicos{
	text-align: center;
}

/* section sobre */

section.section-sobre{
	min-height: 90%;
}

section.section-sobre .container{
	max-width: 1000px;
	padding: 40px 2%;
}

section.section-sobre .line-titulo{
	margin-bottom: 30px;
}

section.section-sobre .logo-sobre{
	width: 100%;
	padding-top:40%;
	background-image: url('../imagens/logo-sobre.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

section.section-sobre p:nth-of-type(1){
	font-style: italic;
	font-size: 24px;
	color: #242424;
	padding: 20px;
}

/* section-galeria */

section.section-galeria .container{
	padding: 40px 2%;
	max-width: 1280px;
}

section.section-galeria .foto-destaque{
	margin-top: 20px;
	width:100%;
	padding-top: 60%;
	background-position: center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	border: 4px solid #242424;
}

section.section-galeria .mini-fotos-parent{
	width: 100%;
	padding: 30px 1%;
}

section.section-galeria .galeria-row{
	width: 100%;
}

section.section-galeria .mini-foto{
	float: left;
	padding: 10px;
	background-color: transparent;
	width: 33.3%;
}

section.section-galeria .mini-foto-wraper{
	cursor: pointer;
	width: 100%;
	padding-top: 60%;
	background-position: center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	border: 2px solid #242424;
}

/* section-endereco */

section.section-endereco .container{
	padding: 40px 2%;
	max-width: 1280px;
}

section.section-endereco .endereco-mensagem{
	padding: 30px 0;
	font-style: italic;
	font-size: 22px;
	text-align: center;
}

section.section-endereco .mapa-parent{
	padding: 20px 0;
}

section.section-endereco .mapa{
	width: 80%;
	padding-top: 50%;
	border: 2px solid #242424;
	margin: 0 auto;
	position: relative;
}

section.section-endereco .mapa-wraper{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

section.section-endereco a{
	margin: 0 auto;
	display: block;
	width: 210px;
	height: 55px;
	line-height: 55px;
	color: #fff;
	background-color: #242424;
	text-decoration: none;
	font-style: italic;
	text-align: center;
	font-size: 25px;
	border: 2px solid black;
}


/*-----------------------------------------------------------------*/

	/* web design responsivo */

	/* max-width : 1280px */

@media screen and (max-width: 1280px){

	/* header */

	nav.menu-desktop ul li{
		font-size: 20px;
		padding: 0 15px;
	}

	/* section banner */

	section.section-banner{
		height: 70vw;
		min-height: 400px;
	}


	/* section servicos-depoimentos */

	section.servicos-depoimentos .half1-wraper{
		display: inline-block;
		padding-right: 40px;
	}

	section.servicos-depoimentos .half1-wraper ul{
		display: block;
		padding-left: 20px;
		text-align: left;
	}

	section.servicos-depoimentos .half1-wraper a{
		display: block;
		margin-left: 0;
		margin-top: 20px;
	}


	section.servicos-depoimentos .quote .nome-depoimento{
		padding: 0 20px;
	}

	/* section-informacoes */


	section.section-informacoes .informacoes-parent{
		padding: 40px 20px;
	}

	section.section-informacoes .informacoes-single:nth-of-type(3){
		padding: 0 20px;
	}

	section.section-informacoes .informacoes-single h2{
		font-size: 26px;
		font-weight: normal;
	}

	section.section-informacoes .informacoes-single p{
		font-size: 18px;
	}

	/* footer */

	footer p{
		font-size: 20px;
	}

}

	/* max-width : 1024px */

@media screen and (max-width: 1024px){

	/* section banner */

	section.section-banner .banner-texto{
		padding-top: 140px;
		padding-left: 110px;
		width: 100%;
	}

	section.section-banner .banner-texto p{
		font-size: 45px;
	}
	section.section-banner .texto-destaque{
		font-size: 55px;
	}

	section.section-banner .btn-banner a{
		font-size: 25px;
	}

	/* section servicos-depoimento */

	section.servicos-depoimentos .half2{
		padding-left: 40px;
		padding-right: 2%;
	}

	section.servicos-depoimentos .half2 .quote p:nth-child(1){
		font-size: 20px;
		padding:10px 0;
	}
}

	/* max-width : 768px */

@media screen and (max-width: 768px){

	/* header */

	nav.menu-desktop ul{
		display: none;
	}

	nav.menu-mobile{
		display: block;
	}

	/* section banner */

	section.section-banner .banner-texto{
		width: 100%;
		text-align: center;
		padding-top:130px;
		padding-left:0;
	}

	section.section-banner .banner-texto p{
		font-size: 35px;
	}
	section.section-banner .texto-destaque{
		font-size: 38px;
	}

	section.section-banner .btn-banner{
		display: inline-block;
		margin-top:40px;
	}

	section.section-banner .btn-banner a{
		font-size: 20px;
	}


	/* section servicos-depoimentos */

	section.servicos-depoimentos{
		display: flex;
		flex-direction: column;
	}

	section.servicos-depoimentos .half1{
		width: 100%;
		background-color: #242424;
		text-align: center;
	}

	section.servicos-depoimentos .half1-wraper{
		display: inline-block;
		padding: 60px 0;
	}

	section.servicos-depoimentos .half2{
		width: 100%;
		padding:40px 2% 80px 2%;
		position: relative;
		min-height: 300px;
	}

	section.servicos-depoimentos .half2 h2{
		font-size: 32px;
		font-style: italic;
		color: #fff;
		margin-bottom: 10px;
	}
	section.servicos-depoimentos .half2 .quote p:nth-child(1){
		font-size: 18px;
		font-style: italic;
		color: #fff;
	}

	section.servicos-depoimentos .quote .nome-depoimento{
		width: 100%;
		position: absolute;
		bottom:20px;
		padding: 0 10px;
	}

	section.servicos-depoimentos .author{
		
	}

	/* section section-informacoes */

	section.section-informacoes .informacoes-parent{
		padding: 40px 0;
		text-align: center;
	}

	section.section-informacoes .informacoes-single{
		float: none;
		width: 100%;
		display: inline-block;
	}

	section.section-informacoes .informacoes-single:nth-of-type(2){
		padding: 30px 0;
	}

	section.section-informacoes .informacoes-single:nth-of-type(3){
		padding: 0;
	}

	section.section-informacoes .informacoes-single h2{
		font-size: 26px;
		font-weight: normal;
	}

	section.section-informacoes .informacoes-single p{
		font-size: 20px;
	}

	/* footer */

	footer p{
		font-size: 20px;
	}

	/* section lista-servicos */

	section.section-lista-servicos .lista-servicos-row{
		width: 100%;
		display: flex;
		flex-direction: column;
	}
	section.section-lista-servicos .lista-servicos{
		text-align: left;
		width: 100%;
		list-style-position: inside;
	}

	/* section sobre */


	section.section-sobre p:nth-of-type(1){
		font-style: italic;
		font-size: 20px;
		color: #242424;
		padding: 20px;
	}

	/* section endereco */

	section.section-endereco .mapa{
		width: 100%;
		padding-top: 70%;
	}

}
		/* max-width : 580px */

@media screen and (max-width: 580px){


	/* divs gerais */ 

	line-titulo .line{
		height: 2px;
	}

	.line-titulo h2{
		font-style: 26px;
	}

	/* section banner */
	section.section-banner .banner-texto{
		width: 100%;
		padding-top:100px;
	}

	section.section-banner .banner-texto p{
		font-size: 25px;
	}
	section.section-banner .texto-destaque{
		font-size: 28px;
	}

	section.section-banner .btn-banner{
		display: inline-block;
		margin-top:20px;
		width: 51%;
	}

	section.section-banner .btn-banner:nth-of-type(1){
		margin-right:0;
	}

	section.section-banner .btn-banner a{
		font-size: 17px;
	}

	/* section servicos-depoimentos */

	section.servicos-depoimentos .half2 h2{
		font-size: 32px;
		margin-bottom: 10px;
	}

	section.servicos-depoimentos .half2 .quote p:nth-child(1){
		font-size: 16px;
	}

	section.servicos-depoimentos .arrow-depoimento img{
		width: 18px;
		height: 18px;
	}

	section.servicos-depoimentos .author{
		font-size: 20px;
	}

	/* section contatos */

	.w50{
		width: 100%;
	}

	/* section section-informacoes */

	section.section-informacoes .informacoes-single h2{
		font-size: 22px;
	}

	section.section-informacoes .informacoes-single p{
		font-size: 18px;
	}

	/* footer */

	footer p{
		font-size: 18px;
	}


	/* section lista-servicos */

	section.section-lista-servicos{
		font-size: 20px;
	}
	
	.mensagem-servicos{
		
	}

	/* section endereco */

	section.section-endereco .endereco-mensagem{
		font-style: normal;
		font-size: 16px;
	}

	section.section-endereco a{
		width: 180px;
		height: 45px;
		line-height: 45px;
		font-size: 22px;
	}

}

@media screen and (max-width: 380px){

	/* divs gerais */ 

	.line-titulo .line{
		position: absolute;
		top: 16px;
		left: 0;
		height: 2px;
	}

	.line-titulo h2{
		font-style: normal;
		font-size: 22px;
	}

	/* section banner */

	section.section-banner .banner-texto p{
		font-style: normal;
	}

	section.section-banner .btn-banner a{
		font-style: normal;
	}

	/* section servicos-depoimento */

	section.servicos-depoimentos .half1-wraper h2{
		font-size: 34px;
		font-style: normal;
	}

	section.servicos-depoimentos .half1-wraper ul{
		font-size: 20px;	
		font-style: normal;
	}

	section.servicos-depoimentos .half1-wraper a{
		font-size: 20px;
		font-style: normal;
	}

		/* half2 */

	section.servicos-depoimentos .half2{
		width: 100%;
		/*padding:40px 2% 80px 2%;*/
		position: relative;
		min-height: 400px;
	}

	section.servicos-depoimentos .half2 h2{
		font-size: 27px;
		font-style:normal;
		margin-bottom: 10px;
		text-align: center;
	}
	section.servicos-depoimentos .half2 .quote p:nth-child(1){
		font-size: 18px;
		font-style: normal;
		text-align: center;
	}

	section.servicos-depoimentos .quote .nome-depoimento{
		width: 100%;
		position: absolute;
		bottom: 30px;
		text-align: center;
	}

	section.servicos-depoimentos .author{
		float: none;
		font-size: 18px;
		font-style: normal;
		position:static;
		display: inline-block;
		margin-top: 10px;
	}

	section.servicos-depoimentos .arrow-depoimento{
		float: none;
		display: block;
		text-align: center;
	}

	section.servicos-depoimentos .arrow-depoimento img{
		width: 16px;
		height: 16px;
	}

	/* section contatos */

	section.section-contato input[type="submit"]{
		font-style: normal;
	}

	/* section section-informacoes */

	section.section-informacoes .informacoes-single h2{
		font-size: 18px;
		font-style: normal;
	}

	section.section-informacoes .informacoes-single p{
		font-size: 16px;
		font-style: normal;
	}

	/* footer */

	footer{
		font-style: normal;
	}

	footer p{
		font-size: 14px;
	}

	/* section lista-servicos */



	section.section-lista-servicos{
		font-style: normal;
		font-size: 18px;
	}

	.mensagem-servicos{
		font-size: 16px;
	}

	section.section-sobre p:nth-of-type(1){
		font-style: normal;
		font-size: 16px;
	}

	/* section endereco */

	section.section-endereco .endereco-mensagem{
		font-size: 14px;
	}

	section.section-endereco a{
		width: 150px;
		height: 40px;
		line-height: 40px;
		font-style: normal;
		font-size: 18px;
	}
}
